{% extends "blog/base.html" %}

{% load blog_tags %} <!-- for loading custom tags and filters -->

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }} <!-- custom filter -->

    <h2>Similar posts</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
                    There are no similar posts yet.
        {% endfor %}


    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }} <!-- You use the pluralize template filter to display a plural suffix for the word "comment," depending on the total_comments value. 1 comment, 5 comments -->
        </h2>
    {% endwith %}

    {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Comment {{ forloop.counter }} by {{ comment.name }}
                    {{ comment.created }}
                </p>
                {{ comment.body|linebreaks }}
            </div>
            {% empty %}  <!-- if there is no comments -->
            <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}

    <p>
        <a href="{% url 'blog:post_share' post.id %}"> <!-- we sending to share_post method request: 'blog:post_share', post_id: post.id -->
            Share this post
        </a>
    </p>
{% endblock %}



<!--
custom tags ( {percent hello percent} )
This could
be a tag to perform a QuerySet or any server-side processing that you want to reuse
across templates. For example, you could build a template tag to display the list of
latest posts published on your blog. You can include this list in the sidebar of the
blog for multiple pages, regardless of the view.
-->